# Environment
.env.development

firebase-admin.json

package-lock.json

# Jetbrains
.idea

# Logs
logs/
npm-debug.log*

# Dependencies
/node_modules

# Testing
/coverage

.nyc_output

# Production
/build

# macOS
.DS_Store
